.NavBar {
    max-width: 90%;
    margin: auto;
}
.NavBar .nav {
    display: flex;
    justify-content: space-between;
   
}

.navbar-links {
    position: relative;
    display: flex;
    min-width:50%;
    justify-content: space-evenly;
    top: 50px;
}

.navbar-links .link{
    color: black;
    max-width: 100px;
    max-height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
}

.navbar-icons {
    position: relative;
    display: flex;
    min-width:15%;
    justify-content: space-evenly;
    top: 50px;
}